@CHARSET "UTF-8";
*{margin:0px auto;padding:0px;}
a{text-decoration:none;}
a:hover{color:#F30;}
.container{margin-bottom:60px}
.banner{width:100%;height:249px;background:url(../images/default/banner.jpg) center no-repeat;}
.taishan{width:388px;height:250px;background:url(../images/default/taishan.png);float:right;}
.nav{width:100%;height:54px;background:url(../images/default/nav_bg.jpg) repeat-x;}
.nav_main{width:1071px;height:50px;}
.nav_1{width:1071px;height:50px;overflow:hidden;}
.nav_1 li{line-height:50px;float:left;list-style:none;padding:0 20px;}
.nav_1 li a{color:#333;font-weight:bold;}
.nav_1 li a:hover{color:#F30;}
.nav_2{display:none;position:absolute;margin-left:-30px;}
.nav_2 li{background:#FFF;clear:left;}
.nav_2 li:hover{background:#eee;}
.about{margin-top:30px;width:1071px;height:47px;border-bottom:3px solid #024C97;}
.about span{display:block;float:left;padding: 0 20px;height:47px;background:#024C97;line-height:47px;text-align:center;font-size:24px;color:#FFF;font-family:微软雅黑;}
.about ul li{float:left;list-style:none;padding-left:30px;line-height:47px;}
.about ul li a{font-weight:bold;color:#666;}
.about_text{width:1071px;padding-top:30px;}
.about_content{list-style:none;}
.about_content li{float:left;width:1071px;line-height:30px;text-indent:2em;}
.content{width:1071px;overflow:hidden;margin-top:30px;}
.content_left{float:left;}
.schedule{width:400px; text-indent: 220px;height:140px;background:url(../images/default/schedule.jpg) no-repeat;line-height:140px;font-family:微软雅黑;font-size:36px;margin-top:20px;}
.schedule a{color:#024C97;}
.schedule a:hover{color:#F30;}
.notice{width:400px;text-indent: 220px;height:140px;background:url(../images/default/notice.jpg) no-repeat;line-height:140px;font-family:微软雅黑;font-size:36px;color:#024C97;margin-top:20px;}
.notice a{color:#024C97;}
.notice a:hover{color:#F30;}
.vip{width:500px;float:left;margin:20px 0 0 100px;font-size:12px;}
.vip span{width:100%;height:35px;display:block;color:#024C97;font-family:微软雅黑;font-size:30px;}
.vip ul{margin-top:15px;}
.vip ul li{line-height:30px;list-style:none;}
.vip ul li strong{float:left;padding:0 20px;}
.menu{margin-top:40px;width:1020px;height:62px;background:url(../images/default/menu.png) no-repeat;}
.menu ul{list-style:none;}
.menu ul li{float:left;text-indent:-999em;width:510px;height:62px;}
.from{margin-top:20px;width:1000px;}
.from ul{list-style:none;}
.t_1{height:25px;}
.b_1{width:237px;height:61px;border:0px;background:url(../images/default/bottom.jpg) no-repeat;}
.map{width:1070px; padding:20px;height:500px}
.down{cursor: pointer;width:260px;line-height:30px;padding:0 50px;margin-top:20px;margin-bottom:20px;font-weight:bold;height:31px;background:url(../images/default/down_ico.jpg) no-repeat;}
.down a{color:#000;}
.content_main{width:1031px;font-size:14px;line-height:30px;padding:20px;}
.footer{position:fixed;bottom:0px;width:100%;height:40px;font-size:12px;background:#eee;line-height:40px;text-align:center;}

.meneame{border-radius: 4px; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); display: inline-block; margin: 10px 0;line-height: 30px;}
.meneame A ,.meneame SPAN.current,.meneame SPAN.disabled{-moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; background-color: #FFFFFF; border-color: #DDDDDD; border-image: none; border-style: solid; border-width: 1px 1px 1px 0; float: left; line-height: 20px; padding: 4px 12px; text-decoration: none;}
.meneame A:first-child{border-bottom-left-radius: 4px; border-left-width: 1px;border-top-left-radius: 4px;}
.meneame A:last-child{border-bottom-right-radius: 4px; border-top-right-radius: 4px;}
.meneame span:first-child{border-bottom-left-radius: 4px; border-left-width: 1px;border-top-left-radius: 4px;}
.meneame span:last-child{border-bottom-right-radius: 4px; border-top-right-radius: 4px;}
.meneame A:hover{BACKGROUND-COLOR: #f5f5f5;}
.meneame A:active{BACKGROUND-COLOR: #fff}
.meneame SPAN.current{color: #999999;cursor: pointer; background-color: #F5F5F5;}
.meneame SPAN.disabled{cursor: pointer;}
/* project search */
.seach{width:auto;text-align: right;margin:10px 0 ;}
